.projects {
    text-align: center;
    margin-top: 40px;

    .projectsTitle {
        font-size: 36px;
        margin: 0px;
        color: #D76C58;
    }

    .project-list {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        border-top: 1px solid #D76C58;
        border-bottom: 1px solid #D76C58;
        padding: 30px 0px 30px 0px;
        max-width: 90%;

        a {
            text-decoration: none;
            color: inherit;
            width: 520px;
        }
    }
}