.navbar {
    margin-top: 15px;
}

.navbar-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    margin: 0px;
    padding: 0px;
    justify-content: end;
    font-size: 18px;

    button {
        border: none;
        background: white;
        cursor: pointer;
        color: #242424;
        padding: 4px 2px 0px 2px;
        font-size: 22px;
        font-weight: bold;
        text-decoration: none;
        border-radius: 6px;
        display: flex;
        align-items: flex-end;
        height: 30px;
    }

    img {
        width: 32px;
        height: 32px;
    }

    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
    }
}